<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script th:inline="javascript">
        var _csrfToken = [[${_csrf.token}]]
    </script>
</head>
<body class="main main-dop">
<div class="modal-container" id="modal" style="display: none">
    <div class="modal-background" id="modal-bg"></div>
    <div class="modal-window">
        <div class="modal-window-header">

            <div class="admin-navigation-bar">
                <div class="admin-tablinks active" onclick="openAdminTab(event, 'adminPersonal')">
                    <p>Все пользователи</p>
                </div>
                <div class="admin-tablinks" onclick="openAdminTab(event, 'adminAccounts')">
                    <p>Счета</p>
                </div>
                <div class="admin-tablinks" onclick="openAdminTab(event, 'adminObligations')">
                    <p>Договоры</p>
                </div>
            </div>

            <svg class="modal-window-header-cross" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"
                 height="20px" width="20px" version="1.1" id="modal-header-cross" viewBox="0 0 490 490"
                 xml:space="preserve">
                        <polygon
                                points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490   489.292,457.678 277.331,245.004 489.292,32.337 "/>
                    </svg>
        </div>
        <div class="modal-window-content" id="modal-content">
            <div id="adminPersonal" class="admin-tab-content" style="display: block;">

            </div>
            <div id="adminAccounts" class="admin-tab-content">

            </div>

            <div id="adminObligations" class="admin-tab-content">

            </div>
        </div>
    </div>
</div>

<div class="modal-container" id="user-modal" style="display: none">
    <div class="modal-background" id="user-modal-bg"></div>
    <div class="modal-window">
        <div class="modal-window-header">
            <p>Создать</p>
            <svg class="modal-window-header-cross" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"
                 height="20px" width="20px" version="1.1" id="user-modal-header-cross" viewBox="0 0 490 490"
                 xml:space="preserve">
                        <polygon
                                points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490   489.292,457.678 277.331,245.004 489.292,32.337 "/>
                    </svg>
        </div>
        <div class="modal-window-content" id="user-modal-content">
            <form method="post" class="register-modal-form register-fix" id="create-user-form">
                <div class="model-rows">
                    <div class="register-form-colomn">
                        <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.token}">
                        <input type="hidden" name="id" id="id">
                        <label class="input-label">
                            Email
                            <input required type="text" class="text-input" name="email" id="email" pattern=".+@.+\..+">
                        </label>
                        <label class="input-label">
                            Фамилия
                            <input required type="text" class="text-input" name="surname" id="surname" pattern="[А-Яа-я]+">
                        </label>
                        <label class="input-label">
                            Имя
                            <input required type="text" class="text-input" name="name" id="name" pattern="[А-Яа-я]+">
                        </label>
                        <label class="input-label">
                            Отчество
                            <input required type="text" class="text-input" name="givenName" id="givenName" pattern="[А-Яа-я]+">
                        </label>
                        <label class="input-label">
                            Дата рождения
                            <input required type="date" class="text-input" name="birthDate" id="birthDate">
                        </label>
                        <label class="input-label">
                            Пол
                            <select required name="sex" id="sex">
                                <option th:each="sexOpt : ${T(ru.bendricks.piris.model.Sex).values()}" th:value="${sexOpt}" th:text="${sexOpt.getRuValue()}"></option>
                            </select>
                        </label>
                        <label class="input-label">
                            Номер паспорта
                            <input required type="text" class="text-input" name="passportSerial" id="passportSerial" pattern="[A-Z]{2}\d{7}">
                        </label>
                        <label class="input-label">
                            Орган выдавший паспорт
                            <input required type="text" class="text-input" name="competentOrgan" id="competentOrgan">
                        </label>
                        <label class="input-label">
                            Дата выдачи паспорта
                            <input required type="date" class="text-input" name="dateOfIssue" id="dateOfIssue">
                        </label>
                        <label class="input-label">
                            Идентификационный номер
                            <input required type="text" class="text-input" name="passportId" id="passportId" pattern="\d{7}[A-Z]\d{3}[A-Z]{2}\d">
                        </label>
                    </div>
                    <div class="register-form-colomn">
                        <label class="input-label">
                            Место рождения
                            <input required type="text" class="text-input" name="birthLocation" id="birthLocation">
                        </label>
                        <label class="input-label">
                            Город проживания
                            <select required name="cityOfResidence" id="cityOfResidence">
                                <option th:each="cityOpt : ${T(ru.bendricks.piris.model.City).values()}" th:value="${cityOpt}" th:text="${cityOpt.getRuValue()}"></option>
                            </select>
                        </label>
                        <label class="input-label">
                            Адрес проживания
                            <input required type="text" class="text-input" name="addressOfLiving" id="addressOfLiving">
                        </label>
                        <label class="input-label">
                            Домашний телефон (+37517...)
                            <input type="text" class="text-input" name="homePhoneNumber" id="homePhoneNumber" pattern="+37517\d{7}">
                        </label>
                        <label class="input-label">
                            Мобильный телефон (+37529...)
                            <input type="text" class="text-input" name="mobilePhoneNumber" id="mobilePhoneNumber" pattern="+375\d{9}">
                        </label>
                        <label class="input-label">
                            Адрес прописки
                            <input required type="text" class="text-input" name="placeOfResidence" id="placeOfResidence">
                        </label>
                        <label class="input-label">
                            Семейное положение
                            <select required name="maritalStatus" id="maritalStatus">
                                <option th:each="martialStatusOpt : ${T(ru.bendricks.piris.model.MaritalStatus).values()}" th:value="${martialStatusOpt}" th:text="${martialStatusOpt.getRuValue()}"></option>
                            </select>
                        </label>
                        <label class="input-label">
                            Гражданство
                            <select required name="citizenship" id="citizenship">
                                <option th:each="citizenshipOpt : ${T(ru.bendricks.piris.model.Citizenship).values()}" th:value="${citizenshipOpt}" th:text="${citizenshipOpt.getRuValue()}"></option>
                            </select>
                        </label>
                        <label class="input-label">
                            Инвалидность
                            <select required name="disability" id="disability">
                                <option th:each="disabilityOpt : ${T(ru.bendricks.piris.model.Disability).values()}" th:value="${disabilityOpt}" th:text="${disabilityOpt.getRuValue()}"></option>
                            </select>
                        </label>
                        <label class="input-label">
                            Пенсионер
                            <input type="checkbox" class="text-input" name="pensioner" id="pensioner">
                        </label>
                        <label class="input-label">
                            Ежемесячный доход
                            <input type="number" class="text-input" name="monthlyIncome" id="monthlyIncome">
                        </label>
                    </div>
                </div>
                <button class="send-button" onclick="createNewUser(event)">Создать</button>
            </form>
        </div>
    </div>
</div>

<div class="modal-container" id="account-modal" style="display: none">
    <div class="modal-background-small" id="account-modal-bg"></div>
    <div class="modal-window-small">
        <div class="modal-window-header">
            <p>Создать счет</p>
            <svg class="modal-window-header-cross" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"
                 height="20px" width="20px" version="1.1" id="account-modal-header-cross" viewBox="0 0 490 490"
                 xml:space="preserve">
                        <polygon
                                points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490   489.292,457.678 277.331,245.004 489.292,32.337 "/>
                    </svg>
        </div>
        <div class="modal-window-content" id="account-modal-content">
            <form method="post" class="register-modal-form register-fix" id="create-account-form">
                <div class="model-rows">
                    <div class="register-form-colomn">
                        <input type="hidden"  th:name="${_csrf.getParameterName()}" th:value="${_csrf.token}">
                        <input type="hidden" name="owner.id" id="owner.id">
                        <label class="input-label">
                            Название
                            <input required type="text" class="text-input" name="account-name" id="account-name" pattern="[А-Яа-я]+">
                        </label>
                        <label class="input-label">
                            Вид валюты
                            <select required name="currency" id="currency">
                                <option th:each="currencyOpt : ${T(ru.bendricks.piris.model.Currency).values()}" th:value="${currencyOpt}" th:text="${currencyOpt.toString()}"></option>
                            </select>
                        </label>
                    </div>
                </div>
                <button class="send-button" onclick="createNewAccount(event)">Создать</button>
            </form>
        </div>
    </div>
</div>

<div class="modal-container" id="obligation-modal" style="display: none">
    <div class="modal-background" id="obligation-modal-bg"></div>
    <div class="modal-window">
        <div class="modal-window-header">
            <p>Создать счет</p>
            <svg class="modal-window-header-cross" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"
                 height="20px" width="20px" version="1.1" id="obligation-modal-header-cross" viewBox="0 0 490 490"
                 xml:space="preserve">
                        <polygon
                                points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490   489.292,457.678 277.331,245.004 489.292,32.337 "/>
                    </svg>
        </div>
        <div class="modal-window-content" id="obligation-modal-content">
            <form method="post" class="register-modal-form register-fix" id="create-obligation-form">
                <div class="model-rows">
                    <div class="register-form-colomn">
                        <input type="hidden"  th:name="${_csrf.getParameterName()}" th:value="${_csrf.token}">
                        <input type="hidden" name="obligation.owner.id" id="obligation.owner.id">
                        <label class="input-label">
                            Дата начала договора
                            <input required type="date" class="text-input" name="obligation.startTime" id="obligation.startTime">
                        </label>
                        <label class="input-label">
                            Депозитный план
                            <select required name="obligation.obligationPlan.id" id="obligation.obligationPlan.id">
                                <!--/*@thymesVar id="plans" type="java.util.List<ru.bendricks.piris.model.ObligationPlan>"*/-->
                                <option th:each="planOpt : ${plans}" th:value="${planOpt.getId()}" th:text="${planOpt.getName().concat(' ').concat(planOpt.getCurrency().toString()).concat(' ').concat(planOpt.getPlanPercent()).concat('% ').concat(planOpt.months).concat(' месяцев макс.')}"></option>
                            </select>
                        </label>
                        <label class="input-label">
                            Стартовый баланс
                            <input required type="number" class="text-input" name="startBalance" id="startBalance">
                        </label>
                        <label class="input-label">
                            Количество месяцев
                            <input required type="text" class="text-input" name="months" id="months">
                        </label>
                        <label class="input-label">
                            IBAN платёжного счёта
                            <select required name="paymentIban" id="paymentIban">
                            </select>
                        </label>
                    </div>
                </div>
                <button class="send-button" onclick="createNewObligation(event)">Создать</button>
            </form>
        </div>
    </div>
</div>

<div class="navigation-bar">
    <div class="tablinks active" id="defaultOpen" onclick="openTab(event, 'AllUsers')">
        <img src="https://cdn-icons-png.flaticon.com/128/942/942799.png" width="60%">
        <p>Все пользователи</p>
    </div>
<!--    <div class="tablinks" onclick="openTab(event, 'Accounts')">-->
<!--        <img src="https://cdn-icons-png.flaticon.com/128/5605/5605921.png" width="70%">-->
<!--        <p>Счета</p>-->
<!--    </div>-->
<!--    <div class="tablinks" onclick="openTab(event, 'Obligations')">-->
<!--        <img src="https://cdn-icons-png.flaticon.com/128/8898/8898421.png" width="70%">-->
<!--        <p>Договоры</p>-->
<!--    </div>-->
    <a href="/main" class="navigation-bar-element">
        <img src="https://cdn-icons-png.flaticon.com/128/263/263115.png" width="60%">
        На главную
    </a>
    <form action="/auth/logout" method="post" class="navigation-bar-element">
        <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.token}">
        <input type="submit" value="Выйти">
    </form>
</div>

<div class="main-page">
    <div id="AllUsers" style="display: block;width: 90%;margin: 0 auto;">

    </div>

    <script>
        function openTab(evt, tabName) {
            let i, tabcontent, tablinks, current;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
            document.getElementById("tablinks active").style.background = "#79f6f6";
        }

        function openAdminTab(evt, tabName) {
            let i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("admin-tab-content");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("admin-tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
            document.getElementById("admin-tablinks active").style.background = "#79f6f6";
        }

        async function configureAccordeons(){
            let acc = document.getElementsByClassName("account-item");
            let i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    let panel = this.nextElementSibling;
                    if (panel.style && panel.style.display && panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                });
            }
        }

        let sexEnum = {
            MALE: "Мужчина",
            FEMALE: "Женщина",
            ATTACK_HELICOPTER: "Атакующий вретолет",
            CROISSANT: "Круассан"
        }
        let maritalStatusEnum = {SINGLE: "Одинок/Одинока", MARRIED: "Женат/Замужем"}
        let cityOfResidenceEnum = {
            MINSK: "Минск",
            BREST: "Брест",
            GOMEL: "Гомель",
            GRODNO: "Гродно",
            VITEBSK: "Витебск",
            MOGILEV: "Могилёв"
        }
        let citizenshipEnum = {
            REPUBLIC_OF_BELARUS: "Республика Беларусь",
            REPUBLIC_OF_POLAND: "Rzeczpospolita Polska",
            RUSSIAN_FEDERATION: "Русня"
        }
        let disabilityEnum = {
            NO: "Нет",
            FIRST_LEVEL: "Первой степени",
            SECOND_LEVEL: "Второй степени",
            THIRD_LEVEL: "Третьей степени"
        }
        let recordStatusEnum = {
            ACTIVE: "Активен",
            CLOSED: "Закрыт",
            END_OF_SERVICE: "Окончание действия"
        }
        let obligationTypeEnum = {
            DEPOSIT: "Депозит отзывной",
            DEPOSIT_UNTOUCH: "Депозит безотзывной",
            CREDIT: "Кредит",
            CREDIT_ANUAL: "Кредит анальный"
        }

        window.onload = async () => {

            document.getElementById("modal-header-cross").addEventListener('click', () => {
                document.getElementById("modal").style.display = 'none'
                //document.getElementById('modal-content').innerHTML = ''
            })

            document.getElementById("user-modal-header-cross").addEventListener('click', () => {
                document.getElementById("user-modal").style.display = 'none'
                //document.getElementById('modal-content').innerHTML = ''
            })

            document.getElementById("account-modal-header-cross").addEventListener('click', () => {
                document.getElementById("account-modal").style.display = 'none'
                //document.getElementById('modal-content').innerHTML = ''
            })

            document.getElementById("obligation-modal-header-cross").addEventListener('click', () => {
                document.getElementById("obligation-modal").style.display = 'none'
                //document.getElementById('modal-content').innerHTML = ''
            })

            document.getElementById("modal-bg").addEventListener('click', () => {
                document.getElementById("modal").style.display = 'none'
                //document.getElementById('modal-content').innerHTML = ''
            })

            document.getElementById("user-modal-bg").addEventListener('click', () => {
                document.getElementById("user-modal").style.display = 'none'
                //document.getElementById('modal-content').innerHTML = ''
            })

            document.getElementById("account-modal-bg").addEventListener('click', () => {
                document.getElementById("account-modal").style.display = 'none'
                //document.getElementById('modal-content').innerHTML = ''
            })

            document.getElementById("obligation-modal-bg").addEventListener('click', () => {
                document.getElementById("obligation-modal").style.display = 'none'
                //document.getElementById('modal-content').innerHTML = ''
            })

            await getAllUsers();
        }

        async function deleteUser(id) {
            let response = await fetch(`/users/${id}`, {
                method: 'DELETE',
                headers: {
                    'X-CSRF-TOKEN': _csrfToken
                }
            })
            if (response.status == 200) {
                document.getElementById(`user_${id}`).remove()
            }
            document.getElementById("modal").style.display = 'none'
            document.getElementById('modal-content').innerHTML = ''
        }

        async function openUserModal(id) {
            let user = await getUser(id)
            if (user) {
                let modal = document.getElementById('modal')
                let container = document.getElementById('adminPersonal')
                container.innerHTML = `
                        <div class="admin-personal-info">
                            <p>ФИО: ${user.surname} ${user.name} ${user.givenName}</p>
                            <p>Дата рождения: ${user.birthDate}</p>
                            <p>Пол: ${sexEnum[user.sex]}</p>
                            <p>Идентификационный номер: ${user.passportId}</p>
                            <p>Орган, выдавший документ: ${user.competentOrgan}</p>
                            <p>Дата выдачи: ${user.dateOfIssue}</p>
                            <p>Номер паспорта: ${user.passportSerial}</p>
                            <p>Город проживания: ${cityOfResidenceEnum[user.cityOfResidence]}</p>
                            <p>Место рождения: ${user.birthLocation}</p>
                            <p>Адрес проживания: ${user.addressOfLiving}</p>
                            <p>Адрес прописки: ${user.placeOfResidence}</p>
                            <p>Домашний телефон: ${user.homePhoneNumber}</p>
                            <p>Мобильный телефон: ${user.mobilePhoneNumber}</p>
                            <p>email: ${user.email}</p>
                            <p>Гражданство: ${citizenshipEnum[user.citizenship]}</p>
                            <p>Семейное положение: ${maritalStatusEnum[user.maritalStatus]}</p>
                            <p>Инвалидность: ${disabilityEnum[user.disability]}</p>
                            <p>Пенсионер: ${user.pensioner === "true" ? "Да" : "Нет"}</p>
                            <p>Ежемесячный доход: ${user.monthlyIncome}</p>
                        </div>
                        <div class="modal-window-content-row">
                            <button value="Удалить" onclick="deleteUser(${user.id})">Удалить</button>
                            <button value="Изменить" onclick="deleteUser(${user.id})">Изменить</button>
                        </div>
                        `
                await getAccountsByUserId(id)
                await getObligationsByUserId(id)
                modal.style.display = 'block'
                await configureAccordeons()
            } else {
                alert("Произошла ошика при загрузке пользователей")
            }
        }

        async function openAccountModal(id) {
            let modal = document.getElementById('account-modal')
            document.getElementById('owner.id').value = id
            modal.style.display = 'block'
        }

        async function openObligationModal(id) {
            let modal = document.getElementById('obligation-modal')
            document.getElementById('obligation.owner.id').value = id
            let response = await fetch(`/accounts/user/${id}/payment?currency=BYN`, {
                method: 'GET',
                headers: {
                    'X-CSRF-TOKEN': _csrfToken
                }
            })
            let data = await response.json()
            let innerHtml = ''
            for (const el of data) {
                innerHtml += `
                <option value="${el.iban}">${el.iban} ${el.balance / 100} ${el.currency}</option>
                `
            }
            document.getElementById('paymentIban').innerHTML = innerHtml
            modal.style.display = 'block'
        }

        async function createNewAccount(ev) {
            ev.preventDefault()
            let formData = new FormData(document.getElementById('create-account-form'))
            let data = {
                owner: {
                    id: formData.get('owner.id')
                },
                name: formData.get('account-name'),
                currency: formData.get('currency')
            }
            console.log(JSON.stringify(data))
            let response = await fetch(`/accounts/payment/create`, {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'content-type': 'application/json',
                    'X-CSRF-TOKEN': _csrfToken
                }
            })
            if (response.status == 200) {
                alert("Создание счёта прошло успешно")
                document.getElementById("account-modal").style.display = 'none'
            } else {
                let error = await response.json();
                alert(JSON.stringify(error.errors));
            }
        }

        async function createNewObligation(ev) {
            ev.preventDefault()
            let formData = new FormData(document.getElementById('create-obligation-form'))
            let data = {
                obligation: {
                    owner: {
                        id: formData.get('obligation.owner.id')
                    },
                    obligationPlan: {
                        id: formData.get('obligation.obligationPlan.id')
                    },
                    startTime: formData.get('obligation.startTime')
                },
                startBalance: formData.get('startBalance') * 100,
                months: formData.get('months'),
                paymentIban: formData.get('paymentIban')
            }
            let response = await fetch(`/obligations/create`, {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'content-type': 'application/json',
                    'X-CSRF-TOKEN': _csrfToken
                }
            })
            if (response.status == 200) {
                alert("Создание договора прошло успешно")
                document.getElementById("obligation-modal").style.display = 'none'
            } else {
                let error = await response.json();
                alert(JSON.stringify(error.errors));
            }
        }

        async function getAccountsByUserId(id) {
            let response = await fetch(`/accounts/user/${id}/all`, {
                method: 'GET',
                headers: {
                    'X-CSRF-TOKEN': _csrfToken
                }
            })
            if (response.status == 200) {
                let accounts = await response.json()
                let innerHtml = `
                <h2>Платёжные счета:</h2>
                <hr>
                `
                for (const paymAcc of accounts.payment) {
                    innerHtml += `
                    <div class="account-item">
                        <p>Имя: ${paymAcc.name}</p>
                        <p>Тип: ${paymAcc.accountType.description}</p>
                        <p>Баланс: ${paymAcc.balance / 100} ${paymAcc.currency}</p>
                    </div>
                    <div class="panel">
                        <p>Статус: ${recordStatusEnum[paymAcc.status]}</p>
                        <p>IBAN: ${paymAcc.iban}</p>
                    </div>
                    `
                }
                innerHtml += `
                <h2>Депозтные счета:</h2>
                <hr>
                `
                for (const depositAcc of accounts.deposit) {
                    innerHtml += `
                    <div class="account-item">
                        <p>Имя: ${depositAcc.name}</p>
                        <p>Тип: ${depositAcc.accountType.description}</p>
                        <p>Баланс: ${depositAcc.balance / 100} ${depositAcc.currency}</p>
                    </div>
                    <div class="panel">
                        <p>Статус: ${recordStatusEnum[depositAcc.status]}</p>
                        <p>IBAN: ${depositAcc.iban}</p>
                    </div>
                    `
                }
                innerHtml += `
                <h2>Кредитные счета:</h2>
                <hr>
                `
                for (const creditAcc of accounts.credit) {
                    innerHtml += `
                    <div class="account-item">
                        <p>Имя: ${creditAcc.name}</p>
                        <p>Тип: ${creditAcc.accountType.description}</p>
                        <p>Баланс: ${creditAcc.balance / 100} ${creditAcc.currency}</p>
                    </div>
                    <div class="panel">
                        <p>Статус: ${recordStatusEnum[creditAcc.status]}</p>
                        <p>IBAN: ${creditAcc.iban}</p>
                    </div>
                    `
                }
                innerHtml += `<button value="Создать" onclick="openAccountModal(${id})">Создать счет</button>`
                document.getElementById('adminAccounts').innerHTML = innerHtml
            }
        }

        async function getObligationsByUserId(id) {
            let response = await fetch(`/obligations/user/${id}/all`, {
                method: 'GET',
                headers: {
                    'X-CSRF-TOKEN': _csrfToken
                }
            })
            if (response.status == 200) {
                let obligations = await response.json()
                let innerHtml = `
                <h2>Депозитные договора:</h2>
                <hr>
                `
                for (const depositObl of obligations.deposit) {
                    innerHtml += `
                    <div class="account-item">
                        <p>Номер договора: ${depositObl.contractNumber}</p>
                        <p>Тип договора: ${obligationTypeEnum[depositObl.obligationType]}</p>
                        <p>Валюта: ${depositObl.currency}</p>
                    </div>
                    <div class="panel">
                        <p>Депозитный план: ${depositObl.obligationPlan.name} ${depositObl.obligationPlan.planPercent}% ${depositObl.obligationPlan.currency} до ${depositObl.obligationPlan.months} месяцев</p>
                        <p>Сумма вклада: ${depositObl.amount / 100} ${depositObl.currency}</p>
                        <div class="account-item">
                            <p>Имя: ${depositObl.mainAccount.name}</p>
                            <p>Тип: ${depositObl.mainAccount.accountType.description}</p>
                            <p>Баланс: ${depositObl.mainAccount.balance / 100} ${depositObl.mainAccount.currency}</p>
                        </div>
                        <div class="panel">
                            <p>Статус: ${recordStatusEnum[depositObl.mainAccount.status]}</p>
                            <p>IBAN: ${depositObl.mainAccount.iban}</p>
                        </div>
                        <div class="account-item">
                            <p>Имя: ${depositObl.percentAccount.name}</p>
                            <p>Тип: ${depositObl.percentAccount.accountType.description}</p>
                            <p>Баланс: ${depositObl.percentAccount.balance / 100} ${depositObl.percentAccount.currency}</p>
                        </div>
                        <div class="panel">
                            <p>Статус: ${recordStatusEnum[depositObl.percentAccount.status]}</p>
                            <p>IBAN: ${depositObl.percentAccount.iban}</p>
                        </div>
                    </div>
                    `
                }
                innerHtml += `
                <h2>Кредитные договоры:</h2>
                <hr>
                `
                for (const creditObl of obligations.credit) {
                    innerHtml += `
                    <div class="account-item">
                        <p>Номер договора: ${creditObl.contractNumber}</p>
                        <p>Тип договора: ${obligationTypeEnum[creditObl.obligationType]}</p>
                        <p>Валюта: ${creditObl.currency}</p>
                    </div>
                    <div class="panel">
                        <p>Депозитный план: ${creditObl.obligationPlan.name} ${creditObl.obligationPlan.planPercent}% ${creditObl.obligationPlan.currency} до ${creditObl.obligationPlan.months} месяцев</p>
                        <p>Сумма вклада: ${creditObl.amount / 100} ${creditObl.currency}</p>
                        <div class="account-item">
                            <p>Имя: ${creditObl.mainAccount.name}</p>
                            <p>Тип: ${creditObl.mainAccount.accountType.description}</p>
                            <p>Баланс: ${creditObl.mainAccount.balance / 100} ${creditObl.mainAccount.currency}</p>
                        </div>
                        <div class="panel">
                            <p>Статус: ${recordStatusEnum[creditObl.mainAccount.status]}</p>
                            <p>IBAN: ${creditObl.mainAccount.iban}</p>
                        </div>
                        <div class="account-item">
                            <p>Имя: ${creditObl.percentAccount.name}</p>
                            <p>Тип: ${creditObl.percentAccount.accountType.description}</p>
                            <p>Баланс: ${creditObl.percentAccount.balance / 100} ${creditObl.percentAccount.currency}</p>
                        </div>
                        <div class="panel">
                            <p>Статус: ${recordStatusEnum[creditObl.percentAccount.status]}</p>
                            <p>IBAN: ${creditObl.percentAccount.iban}</p>
                        </div>
                    </div>
                    `
                }
                innerHtml += `<button value="Создать" onclick="openObligationModal(${id})">Создать договор</button>`
                document.getElementById('adminObligations').innerHTML = innerHtml
            }
        }

        async function createUserModel() {
            await userModel({});
        }

        async function updateUserModel(id) {
            let user = await getUser(id);
            await userModel(user);
        }

        async function userModel(user) {
            if (user) {
                let modal = document.getElementById('user-modal')
                let container = document.getElementById('adminPersonal')
                container.innerHTML = `
                        `
                modal.style.display = 'block'
            } else {
                alert("Произошла ошика при загрузке пользователей")
            }
        }

        async function getUser(id) {
            let response = await fetch(`/users/user/${id}`, {
                method: 'GET',
                headers: {
                    'X-CSRF-TOKEN': _csrfToken
                }
            })
            if (response.status == 200) {
                return response.json();
            }
            return null;
        }

        async function getAllUsers() {
            let response = await fetch('/users/get_all_users', {
                method: 'GET',
                headers: {
                    'X-CSRF-TOKEN': _csrfToken
                }
            })
            if (response.status == 200) {
                let container = document.getElementById('AllUsers')
                let innerHtml = '<h2>Пользователи</h2><hr>'
                let data = await response.json()
                for (const el of data) {
                    innerHtml += `
                                <div class="user-item" id="user_${el.id}" onclick="openUserModal(${el.id})">
                                    <p>${el.surname} ${el.name} ${el.givenName}</p>
                                    <p>${el.passportId}</p>
                                </div>
                            `
                }
                innerHtml += `
                            <button value="Создать" onclick="createUserModel()">Создать пользователя</button>
                `
                container.innerHTML = innerHtml
                // console.log()
            } else {
                alert("Произошла ошика при загрузке пользователей")
            }
        }

        async function createNewUser(ev) {
            ev.preventDefault()
            let formData = new FormData(document.getElementById('create-user-form'))
            let userData = {
                email: formData.get('email'),
                surname: formData.get('surname'),
                name: formData.get('name'),
                givenName: formData.get('givenName'),
                birthDate: formData.get('birthDate'),
                sex: formData.get('sex'),
                passportSerial: formData.get('passportSerial'),
                competentOrgan: formData.get('competentOrgan'),
                dateOfIssue: formData.get('dateOfIssue'),
                passportId: formData.get('passportId'),
                birthLocation: formData.get('birthLocation'),
                cityOfResidence: formData.get('cityOfResidence'),
                addressOfLiving: formData.get('addressOfLiving'),
                homePhoneNumber: formData.get('homePhoneNumber'),
                mobilePhoneNumber: formData.get('mobilePhoneNumber'),
                placeOfResidence: formData.get('placeOfResidence'),
                maritalStatus: formData.get('maritalStatus'),
                citizenship: formData.get('citizenship'),
                disability: formData.get('disability'),
                pensioner: formData.get('pensioner'),
                monthlyIncome: formData.get('monthlyIncome'),
            }
            let response = await fetch(`/users/create`, {
                method: 'POST',
                body: JSON.stringify(userData),
                headers: {
                    'content-type': 'application/json',
                    'X-CSRF-TOKEN': _csrfToken
                }
            })
            if (response.status == 200) {
                alert("Создание пользователя прошло успешно")
                document.getElementById("user-modal").style.display = 'none'
            } else {
                let error = await response.json();
                alert(JSON.stringify(error.errors));
            }
        }

    </script>
</div>
</body>
</html>