<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script th:inline="javascript">
        var _csrfToken = [[${_csrf.token}]]
    </script>
</head>
<body class="main main-dop">
<div class="modal-container" id="modal" style="display: none">
    <div class="modal-background" id="modal-bg"></div>
    <div class="modal-window">
        <div class="modal-window-header">

            <div class="admin-navigation-bar">
                <div class="admin-tablinks active" onclick="openAdminTab(event, 'adminPersonal')">
                    <p>Все пользователи</p>
                </div>
                <div class="admin-tablinks" onclick="openAdminTab(event, 'adminAccounts')">
                    <p>Счета</p>
                </div>
                <div class="admin-tablinks" onclick="openAdminTab(event, 'adminObligations')">
                    <p>Договоры</p>
                </div>
            </div>

            <svg class="modal-window-header-cross" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"
                 height="20px" width="20px" version="1.1" id="modal-header-cross" viewBox="0 0 490 490"
                 xml:space="preserve">
                        <polygon
                                points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490   489.292,457.678 277.331,245.004 489.292,32.337 "/>
                    </svg>
        </div>
        <div class="modal-window-content" id="modal-content">
            <div id="adminPersonal" class="admin-tab-content" style="display: block;">

            </div>

            <div id="adminAccounts" class="admin-tab-content">
                <div class="account-item">
                    <p>IBAN: ${paymAcc.iban}</p>
                    <p>имя: ${paymAcc.name}</p>
                    <p>тип: ${paymAcc.accountType.description}</p>
                    <p>баланс: ${paymAcc.balance / 100} ${paymAcc.currency}</p>
                </div>
                <div class="panel">
                    <p>Статус: ${recordStatusEnum[paymAcc.status]}</p>
                </div>
            </div>

            <div id="adminObligations" class="admin-tab-content">
                <div class="account-item">
                    <p>IBAN: ${depositAcc.iban}</p>
                    <p>имя: ${depositAcc.name}</p>
                    <p>тип: ${depositAcc.accountType.description}</p>
                    <p>баланс: ${depositAcc.balance / 100} ${depositAcc.currency}</p>
                </div>
                <div class="panel">
                    <p>Статус: ${recordStatusEnum[depositAcc.status]}</p>
                    <div class="account-item">
                        <p>Номер договора: ${depositAcc.parentObligation.contractNumber}</p>
                        <p>Тип договора: ${obligationTypeEnum[depositAcc.parentObligation.obligationType]}</p>
                        <p>Валюта: ${depositAcc.parentObligation.currency}</p>
                    </div>
                    <div class="panel">
                        <p>Депозитный план: ${depositAcc.parentObligation.obligationPlan.name} ${depositAcc.parentObligation.obligationPlan.planPercent}% ${depositAcc.parentObligation.obligationPlan.currency} до ${depositAcc.parentObligation.obligationPlan.months} месяцев</p>
                        <p>Сумма вклада: ${depositAcc.parentObligation.amount / 100} ${depositAcc.parentObligation.currency}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navigation-bar">
    <div class="tablinks active" id="defaultOpen" onclick="openTab(event, 'AllUsers')">
        <img src="https://cdn-icons-png.flaticon.com/128/942/942799.png" width="60%">
        <p>Все пользователи</p>
    </div>
    <div class="tablinks" onclick="openTab(event, 'Accounts')">
        <img src="https://cdn-icons-png.flaticon.com/128/5605/5605921.png" width="70%">
        <p>Счета</p>
    </div>
    <div class="tablinks" onclick="openTab(event, 'Obligations')">
        <img src="https://cdn-icons-png.flaticon.com/128/8898/8898421.png" width="70%">
        <p>Договоры</p>
    </div>
    <div class="navigation-bar-element">
        <img src="https://cdn-icons-png.flaticon.com/128/12534/12534727.png" width="60%">
        <p>Администрирование</p>
    </div>
</div>

<div class="main-page">
    <div id="AllUsers" class="admin-tab-content" style="display: block;">

    </div>

    <div id="Accounts" class="admin-tab-content">

    </div>

    <div id="Obligations" class="admin-tab-content">

    </div>

    <script>
        function openTab(evt, tabName) {
            let i, tabcontent, tablinks, current;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
            document.getElementById("tablinks active").style.background = "#79f6f6";
        }

        function openAdminTab(evt, tabName) {
            let i, tabcontent, tablinks, current;
            tabcontent = document.getElementsByClassName("admin-tab-content");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("admin-tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
            document.getElementById("admin-tablinks active").style.background = "#79f6f6";
        }



        let sexEnum = {
            MALE: "Мужчина",
            FEMALE: "Женщина",
            ATTACK_HELICOPTER: "Атакующий вретолет",
            CROISSANT: "Круассан"
        }
        let maritalStatusEnum = {SINGLE: "Одинок/Одинока", MARRIED: "Женат/Замужем"}
        let cityOfResidenceEnum = {
            MINSK: "Минск",
            BREST: "Брест",
            GOMEL: "Гомель",
            GRODNO: "Гродно",
            VITEBSK: "Витебск",
            MOGILEV: "Могилёв"
        }
        let citizenshipEnum = {
            REPUBLIC_OF_BELARUS: "Республика Беларусь",
            REPUBLIC_OF_POLAND: "Rzeczpospolita Polska",
            RUSSIAN_FEDERATION: "Русня"
        }
        let disabilityEnum = {
            NO: "Нет",
            FIRST_LEVEL: "Первой степени",
            SECOND_LEVEL: "Второй степени",
            THIRD_LEVEL: "Третьей степени"
        }
        let recordStatusEnum = {
            ACTIVE: "Активен",
            CLOSED: "Закрыт",
            END_OF_SERVICE: "Окончание действия"
        }
        let obligationTypeEnum = {
            DEPOSIT: "Депозит отзывной",
            DEPOSIT_UNTOUCH: "Депозит безотзывной",
            CREDIT: "Кредит",
            CREDIT_ANUAL: "Кредит анальный"
        }

        window.onload = async () => {

            document.getElementById("modal-header-cross").addEventListener('click', () => {
                document.getElementById("modal").style.display = 'none'
                document.getElementById('modal-content').innerHTML = ''
            })

            document.getElementById("modal-bg").addEventListener('click', () => {
                document.getElementById("modal").style.display = 'none'
                document.getElementById('modal-content').innerHTML = ''
            })

            await getAllUsers();
        }

        async function deleteUser(id) {
            let response = await fetch(`/auth/user/${id}`, {
                method: 'DELETE',
                headers: {
                    'X-CSRF-TOKEN': _csrfToken
                }
            })
            if (response.status == 200) {
                document.getElementById(`user_${id}`).remove()
            }
            document.getElementById("modal").style.display = 'none'
            document.getElementById('modal-content').innerHTML = ''
        }

        async function openUserModal(id) {
            let user = await getUser(id)
            if (user) {
                let modal = document.getElementById('modal')
                let container = document.getElementById('adminPersonal')
                container.innerHTML = `
                        <div class="admin-personal-info">
                            <p>ФИО: ${user.surname} ${user.name} ${user.givenName}</p>
                            <p>Дата рождения: ${user.birthDate}</p>
                            <p>Пол: ${sexEnum[user.sex]}</p>
                            <p>Идентификационный номер: ${user.passportId}</p>
                            <p>Орган, выдавший документ: ${user.competentOrgan}</p>
                            <p>Дата выдачи: ${user.dateOfIssue}</p>
                            <p>Номер паспорта: ${user.passportSerial}</p>
                            <p>Город проживания: ${cityOfResidenceEnum[user.cityOfResidence]}</p>
                            <p>Место рождения: ${user.birthLocation}</p>
                            <p>Адрес проживания: ${user.addressOfLiving}</p>
                            <p>Адрес прописки: ${user.placeOfResidence}</p>
                            <p>Домашний телефон: ${user.homePhoneNumber}</p>
                            <p>Мобильный телефон: ${user.mobilePhoneNumber}</p>
                            <p>email: ${user.email}</p>
                            <p>Гражданство: ${citizenshipEnum[user.citizenship]}</p>
                            <p>Семейное положение: ${maritalStatusEnum[user.maritalStatus]}</p>
                            <p>Инвалидность: ${disabilityEnum[user.disability]}</p>
                            <p>Пенсионер: ${user.pensioner === "true" ? "Да" : "Нет"}</p>
                            <p>Ежемесячный доход: ${user.monthlyIncome}</p>
                        </div>
                        <div class="modal-window-content-row">
                            <button value="Удалить" onclick="deleteUser(${user.id})">Удалить</button>
                            <a href="/auth/edit/${user.id}">Изменить</a>
                        </div>
                        `
                modal.style.display = 'block'
            } else {
                alert("Произошла ошика при загрузке пользователей")
            }
        }

        async function getUser(id) {
            let response = await fetch(`/users/user/${id}`, {
                method: 'GET',
                headers: {
                    'X-CSRF-TOKEN': _csrfToken
                }
            })
            if (response.status == 200) {
                return response.json();
            }
            return null;
        }

        async function getAllUsers() {
            let response = await fetch('/users/get_all_users', {
                method: 'GET',
                headers: {
                    'X-CSRF-TOKEN': _csrfToken
                }
            })
            if (response.status == 200) {
                let container = document.getElementById('AllUsers')
                let innerHtml = '<h2>Пользователи</h2><hr>'
                let data = await response.json()
                for (const el of data) {
                    innerHtml += `
                                <div class="user-item" id="user_${el.id}" onclick="openUserModal(${el.id})">
                                    <p>${el.surname} ${el.name} ${el.givenName}</p>
                                    <p>${el.passportId}</p>
                                </div>
                            `
                }
                container.innerHTML = innerHtml
                // console.log()
            } else {
                alert("Произошла ошика при загрузке пользователей")
            }
        }

        let acc = document.getElementsByClassName("account-item");
        let i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                let panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }

    </script>
</div>
</body>
</html>