<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script th:inline="javascript">
        var _csrfToken = [[${_csrf.token}]]
    </script>
</head>
<body class="main main-dop">
    <div class="navigation-bar">
        <div class="navigation-bar-element">
            <p>Aboba</p>
            <p>Aboba</p>
            <p>Aboba</p>
            <p>Aboba</p>
        </div>
    </div>
    <div class="main-page">

        <div class="modal-container" id="modal" style="display: none">
            <div class="modal-background" id="modal-bg"></div>
            <div class="modal-window">
                <div class="modal-window-header">
                    <h2 class="modal-window-header-text">Данные пользователя</h2>
                    <svg class="modal-window-header-cross" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"
                         height="20px" width="20px" version="1.1" id="modal-header-cross" viewBox="0 0 490 490"
                         xml:space="preserve">
                        <polygon
                                points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490   489.292,457.678 277.331,245.004 489.292,32.337 "/>
                    </svg>
                </div>
                <div class="modal-window-content" id="modal-content">

                </div>
            </div>
        </div>
        <!--/*@thymesVar id="user" type="ru.bendricks.piris.model.User"*/-->
        <a href="/auth/signup">Добавить пользователя</a>
        <div class="users-items-container" id="users-container">
            <!--/*@thymesVar id="users" type="java.util.List<ru.bendricks.piris.model.User>"*/-->
            <h2>Пользователи</h2>
            <!--    <div th:each="user : ${users}" class="user-item">-->
            <!--        <h2></h2>-->
            <!--    </div>-->
            <script>
                window.onload = async () => {

                    document.getElementById("modal-header-cross").addEventListener('click', () => {
                        document.getElementById("modal").style.display = 'none'
                        document.getElementById('modal-content').innerHTML = ''
                    })

                    document.getElementById("modal-bg").addEventListener('click', () => {
                        document.getElementById("modal").style.display = 'none'
                        document.getElementById('modal-content').innerHTML = ''
                    })

                    await getAllUsers();
                }

                async function deleteUser(id) {
                    let response = await fetch(`/auth/user/${id}`, {
                        method: 'DELETE',
                        headers: {
                            'X-CSRF-TOKEN': _csrfToken
                        }
                    })
                    if (response.status == 200) {
                        document.getElementById(`user_${id}`).remove()
                    }
                    document.getElementById("modal").style.display = 'none'
                    document.getElementById('modal-content').innerHTML = ''
                }

                async function openUserModal(id) {
                    let user = await getUser(id)
                    if (user) {
                        let modal = document.getElementById('modal')
                        let container = document.getElementById('modal-content')
                        switch (user.sex) {
                            case "MALE":
                                user.sex = "Мужчина"
                                break
                            case "FEMALE":
                                user.sex = "Женщина"
                                break
                        }
                        switch (user.maritalStatus) {
                            case "SINGLE":
                                user.maritalStatus = "Одинок/Одинока"
                                break
                            case "MARRIED":
                                user.maritalStatus = "Женат/Замужем"
                                break
                        }
                        switch (user.cityOfResidence) {
                            case "MINSK":
                                user.cityOfResidence = "Минск"
                                break
                            case "BREST":
                                user.cityOfResidence = "Брест"
                                break
                            case "GOMEL":
                                user.cityOfResidence = "Гомель"
                                break
                            case "GRODNO":
                                user.cityOfResidence = "Гродно"
                                break
                            case "VITEBSK":
                                user.cityOfResidence = "Витебск"
                                break
                            case "MOGILEV":
                                user.cityOfResidence = "Могилев"
                                break
                        }
                        switch (user.citizenship) {
                            case "REPUBLIC_OF_BELARUS":
                                user.citizenship = "Республика Беларусь"
                                break
                            case "REPUBLIC_OF_POLAND":
                                user.citizenship = "Республика Польша"
                                break
                            case "RUSSIAN_FEDERATION":
                                user.citizenship = "Российская Федерация"
                                break
                        }
                        switch (user.disability) {
                            case "NO":
                                user.disability = "Отсутствует"
                                break
                            case "FIRST_LEVEL":
                                user.disability = "Первой стадии"
                                break
                            case "SECOND_LEVEL":
                                user.disability = "Второй стадии"
                                break
                            case "THIRD_LEVEL":
                                user.disability = "Третьей стадии"
                                break
                        }
                        container.innerHTML = `
                        <div class="modal-window-content-row">
            <div class="modal-window-content-row-element">
                <p>ФИО: ${user.surname} ${user.name} ${user.givenName}</p>
            </div>
            <div class="modal-window-content-row-element">
                <p>Дата рождения: ${user.birthDate}</p>
            </div>
            <div class="modal-window-content-row-element">
                <p>Пол: ${user.sex}</p>
            </div>
            <div class="modal-window-content-row-element">
                <p>Идентификационный номер: ${user.passportId}</p>
            </div>
        </div>
        <div class="modal-window-content-row">
            <div class="modal-window-content-row-element">
                <p>Орган, выдавший документ: ${user.competentOrgan}</p>
            </div>
            <div class="modal-window-content-row-element">
                <p>Дата выдачи: ${user.dateOfIssue}</p>
            </div>
            <div class="modal-window-content-row-element">
                <p>Номер паспорта: ${user.passportSerial}</p>
            </div>
            <div class="modal-window-content-row-element">
                <p>Город проживания: ${user.cityOfResidence}</p>
            </div>
        </div>
        <div class="modal-window-content-row">
            <div class="modal-window-content-row-element">
                <p>Место рождения: ${user.birthLocation}</p>
            </div>
            <div class="modal-window-content-row-element">
                <p>Адрес проживания: ${user.addressOfLiving}</p>
            </div>
            <div class="modal-window-content-row-element">
                <p>Адрес прописки: ${user.placeOfResidence}</p>
            </div>
        </div>
        <div class="modal-window-content-row">
            <div class="modal-window-content-row-element">
                <p>Домашний телефон: ${user.homePhoneNumber}</p>
            </div>
            <div class="modal-window-content-row-element">
                <p>Мобильный телефон: ${user.mobilePhoneNumber}</p>
            </div>
            <div class="modal-window-content-row-element">
                <p>email: ${user.email}</p>
            </div>
            <div class="modal-window-content-row-element">
                <p>Гражданство: ${user.citizenship}</p>
            </div>
        </div>
        <div class="modal-window-content-row">
            <div class="modal-window-content-row-element">
                <p>Семейное положение: ${user.maritalStatus}</p>
            </div>
            <div class="modal-window-content-row-element">
                <p>Инвалидность: ${user.disability}</p>
            </div>
            <div class="modal-window-content-row-element">
                <p>Пенсионер: ${user.pensioner === "true" ? "Да" : "Нет"}</p>
            </div>
            <div class="modal-window-content-row-element">
                <p>Ежемесячный доход: ${user.monthlyIncome}</p>
            </div>
        </div>
        <div class="modal-window-content-row">
            <button value="Удалить" onclick="deleteUser(${user.id})">Удалить</button>
            <a href="/auth/edit/${user.id}">Изменить</a>
            <a href="/obligation/user/${user.id}">Договоры</a>
            <a href="/account/user/${user.id}">Счета</a>
        </div>
                        `
                        modal.style.display = 'block'
                    } else {
                        alert("Произошла ошика при загрузке пользователей")
                    }
                }

                async function getUser(id) {
                    let response = await fetch(`/piris/user/${id}`, {
                        method: 'GET',
                        headers: {
                            'X-CSRF-TOKEN': _csrfToken
                        }
                    })
                    if (response.status == 200) {
                        return response.json();
                    }
                    return null;
                }

                async function getAllUsers() {
                    let response = await fetch('/piris/get_all_users', {
                        method: 'GET',
                        headers: {
                            'X-CSRF-TOKEN': _csrfToken
                        }
                    })
                    if (response.status == 200) {
                        let container = document.getElementById('users-container')
                        let innerHtml = ''
                        let data = await response.json()
                        for (const el of data) {
                            innerHtml += `
                                <div class="user-item" id="user_${el.id}" onclick="openUserModal(${el.id})">
                                    <p>${el.surname} ${el.name} ${el.givenName}</p>
                                    <p>${el.passportId}</p>
                                </div>
                            `
                        }
                        container.innerHTML = innerHtml
                        // console.log()
                    } else {
                        alert("Произошла ошика при загрузке пользователей")
                    }
                }

            </script>
        </div>
    </div>
</body>
</html>