<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script th:inline="javascript">
        var _csrfToken = [[${_csrf.token}]]
    </script>
</head>
<body class="main main-dop">
<div class="modal-container" id="modal" style="display: none">
    <div class="modal-background" id="modal-bg"></div>
    <div class="modal-window">
        <div class="modal-window-header">
            <h2 class="modal-window-header-text">Данные пользователя</h2>
            <svg class="modal-window-header-cross" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"
                 height="20px" width="20px" version="1.1" id="modal-header-cross" viewBox="0 0 490 490"
                 xml:space="preserve">
                        <polygon
                                points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490   489.292,457.678 277.331,245.004 489.292,32.337 "/>
                    </svg>
        </div>
        <div class="modal-window-content" id="modal-content">

        </div>
    </div>
</div>
<div class="navigation-bar">
    <div class="tablinks active" id="defaultOpen" onclick="openTab(event, 'Personal')">
        <img src="https://cdn-icons-png.flaticon.com/128/942/942799.png" width="60%">
        <p>Личная информация</p>
    </div>
    <div class="tablinks" onclick="openTab(event, 'Accounts')">
        <img src="https://cdn-icons-png.flaticon.com/128/5605/5605921.png" width="70%">
        <p>Счета</p>
    </div>
    <div class="tablinks" onclick="openTab(event, 'Obligations')">
        <img src="https://cdn-icons-png.flaticon.com/128/8898/8898421.png" width="70%">
        <p>Договоры</p>
    </div>
    <a class="navigation-bar-element">
        <img src="https://cdn-icons-png.flaticon.com/128/584/584072.png" width="60%">
        <p>ATM</p>
    </a>
    <a sec:authorize="hasRole('ADMIN')" style="text-decoration: none" href="/admin" class="navigation-bar-element">
        <img src="https://cdn-icons-png.flaticon.com/128/12534/12534727.png" width="60%">
        <p>Администрирование</p>
    </a>
</div>

<div class="main-page">
    <div id="Personal" class="tabcontent" style="display: block;">

    </div>
    <div id="Accounts" class="tabcontent">

    </div>
    <div id="Obligations" class="tabcontent">

    </div>

    <script>

        function openTab(evt, tabName) {
            var i, tabcontent, tablinks, current;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
            document.getElementById("tablinks active").style.background = "#79f6f6";
        }

        let acc = document.getElementsByClassName("account-item");
        let i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                let panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }

        let sexEnum = {
            MALE: "Мужчина",
            FEMALE: "Женщина",
            ATTACK_HELICOPTER: "Атакующий вретолет",
            CROISSANT: "Круассан"
        }
        let maritalStatusEnum = {SINGLE: "Одинок/Одинока", MARRIED: "Женат/Замужем"}
        let cityOfResidenceEnum = {
            MINSK: "Минск",
            BREST: "Брест",
            GOMEL: "Гомель",
            GRODNO: "Гродно",
            VITEBSK: "Витебск",
            MOGILEV: "Могилёв"
        }
        let citizenshipEnum = {
            REPUBLIC_OF_BELARUS: "Республика Беларусь",
            REPUBLIC_OF_POLAND: "Rzeczpospolita Polska",
            RUSSIAN_FEDERATION: "Русня"
        }
        let disabilityEnum = {
            NO: "Нет",
            FIRST_LEVEL: "Первой степени",
            SECOND_LEVEL: "Второй степени",
            THIRD_LEVEL: "Третьей степени"
        }
        let recordStatusEnum = {
            ACTIVE: "Активен",
            CLOSED: "Закрыт",
            END_OF_SERVICE: "Окончание действия"
        }
        let obligationTypeEnum = {
            DEPOSIT: "Депозит отзывной",
            DEPOSIT_UNTOUCH: "Депозит безотзывной",
            CREDIT: "Кредит",
            CREDIT_ANUAL: "Кредит анальный"
        }

        window.onload = async () => {

            await loadUserInfo()
            await getAccounts()
            await getObligations()

            document.getElementById("modal-header-cross").addEventListener('click', () => {
                document.getElementById("modal").style.display = 'none'
                document.getElementById('modal-content').innerHTML = ''
            })

            document.getElementById("modal-bg").addEventListener('click', () => {
                document.getElementById("modal").style.display = 'none'
                document.getElementById('modal-content').innerHTML = ''
            })

            // await getAllUsers();
        }

        async function loadUserInfo() {
            let response = await fetch(`/auth/me`, {
                method: 'GET',
                headers: {
                    'X-CSRF-TOKEN': _csrfToken
                }
            })
            if (response.status == 200) {
                let user = await response.json()
                document.getElementById('Personal').innerHTML =
                    `
                    <div class="personal-info">
                        <p>ФИО: ${user.surname} ${user.name} ${user.givenName}</p>
                        <p>Дата рождения: ${user.birthDate}</p>
                        <p>Пол: ${sexEnum[user.sex]}</p>
                        <p>Идентификационный номер: ${user.passportId}</p>
                        <p>Орган, выдавший документ: ${user.competentOrgan}</p>
                        <p>Дата выдачи: ${user.dateOfIssue}</p>
                        <p>Номер паспорта: ${user.passportSerial}</p>
                        <p>Город проживания: ${cityOfResidenceEnum[user.cityOfResidence]}</p>
                        <p>Место рождения: ${user.birthLocation}</p>
                        <p>Адрес проживания: ${user.addressOfLiving}</p>
                        <p>Адрес прописки: ${user.placeOfResidence}</p>
                        <p>Домашний телефон: ${user.homePhoneNumber}</p>
                        <p>Мобильный телефон: ${user.mobilePhoneNumber}</p>
                        <p>email: ${user.email}</p>
                        <p>Гражданство: ${citizenshipEnum[user.citizenship]}</p>
                        <p>Семейное положение: ${maritalStatusEnum[user.maritalStatus]}</p>
                        <p>Инвалидность: ${disabilityEnum[user.disability]}</p>
                        <p>Пенсионер: ${user.pensioner === "true" ? "Да" : "Нет"}</p>
                        <p>Ежемесячный доход: ${user.monthlyIncome}</p>
                    </div>
                    `
            }
        }

        async function getObligations() {
            let response = await fetch(`/obligations/my`, {
                method: 'GET',
                headers: {
                    'X-CSRF-TOKEN': _csrfToken
                }
            })
            if (response.status == 200) {
                let obligations = await response.json()
                let innerHtml = `
                <h2>Депозитные договора:</h2>
                <hr>
                `
                for (const depositObl of obligations.deposit) {
                    innerHtml += `
                    <div class="account-item">
                        <p>Номер договора: ${depositObl.contractNumber}</p>
                        <p>Тип договора: ${obligationTypeEnum[depositObl.obligationType]}</p>
                        <p>Валюта: ${depositObl.currency}</p>
                    </div>
                    <div class="panel">
                        <p>Депозитный план: ${depositObl.obligationPlan.name} ${depositObl.obligationPlan.planPercent}% ${depositObl.obligationPlan.currency} до ${depositObl.obligationPlan.months} месяцев</p>
                        <p>Сумма вклада: ${depositObl.amount / 100} ${depositObl.currency}</p>
                        <div class="account-item">
                            <p>IBAN: ${depositObl.mainAccount.iban}</p>
                            <p>имя: ${depositObl.mainAccount.name}</p>
                            <p>тип: ${depositObl.mainAccount.accountType.description}</p>
                            <p>баланс: ${depositObl.mainAccount.balance / 100} ${depositObl.mainAccount.currency}</p>
                        </div>
                        <div class="panel">
                            <p>Статус: ${recordStatusEnum[depositObl.mainAccount.status]}</p>
                        </div>
                        <div class="account-item">
                            <p>IBAN: ${depositObl.percentAccount.iban}</p>
                            <p>имя: ${depositObl.percentAccount.name}</p>
                            <p>тип: ${depositObl.percentAccount.accountType.description}</p>
                            <p>баланс: ${depositObl.percentAccount.balance / 100} ${depositObl.percentAccount.currency}</p>
                        </div>
                        <div class="panel">
                            <p>Статус: ${recordStatusEnum[depositObl.percentAccount.status]}</p>
                            <button onclick="openUserModal(1)">Перевести деньги</button>
                        </div>
                    </div>
                    `
                }
                innerHtml += `
                <h2>Кредитные договоры:</h2>
                <hr>
                `
                for (const creditObl of obligations.credit) {
                    innerHtml += `
                    <div class="account-item">
                        <p>Номер договора: ${creditObl.contractNumber}</p>
                        <p>Тип договора: ${obligationTypeEnum[creditObl.obligationType]}</p>
                        <p>Валюта: ${creditObl.currency}</p>
                    </div>
                    <div class="panel">
                        <p>Депозитный план: ${creditObl.obligationPlan.name} ${creditObl.obligationPlan.planPercent}% ${creditObl.obligationPlan.currency} до ${creditObl.obligationPlan.months} месяцев</p>
                        <p>Сумма вклада: ${creditObl.amount / 100} ${creditObl.currency}</p>
                        <div class="account-item">
                            <p>IBAN: ${creditObl.mainAccount.iban}</p>
                            <p>имя: ${creditObl.mainAccount.name}</p>
                            <p>тип: ${creditObl.mainAccount.accountType.description}</p>
                            <p>баланс: ${creditObl.mainAccount.balance / 100} ${creditObl.mainAccount.currency}</p>
                        </div>
                        <div class="panel">
                            <p>Статус: ${recordStatusEnum[creditObl.mainAccount.status]}</p>
                            <button onclick="openUserModal(1)">Перевести деньги</button>
                        </div>
                        <div class="account-item">
                            <p>IBAN: ${creditObl.percentAccount.iban}</p>
                            <p>имя: ${creditObl.percentAccount.name}</p>
                            <p>тип: ${creditObl.percentAccount.accountType.description}</p>
                            <p>баланс: ${creditObl.percentAccount.balance / 100} ${creditObl.percentAccount.currency}</p>
                        </div>
                        <div class="panel">
                            <p>Статус: ${recordStatusEnum[depositObl.percentAccount.status]}</p>
                        </div>
                    </div>
                    `
                }
                document.getElementById('Obligations').innerHTML = innerHtml
            }
        }

        async function getAccounts() {
            let response = await fetch(`/accounts/my`, {
                method: 'GET',
                headers: {
                    'X-CSRF-TOKEN': _csrfToken
                }
            })
            if (response.status == 200) {
                let accounts = await response.json()
                let innerHtml = `
                <h2>Платёжные счета:</h2>
                <hr>
                `
                for (const paymAcc of accounts.payment) {
                    innerHtml += `
                    <div class="account-item">
                        <p>IBAN: ${paymAcc.iban}</p>
                        <p>имя: ${paymAcc.name}</p>
                        <p>тип: ${paymAcc.accountType.description}</p>
                        <p>баланс: ${paymAcc.balance / 100} ${paymAcc.currency}</p>
                    </div>
                    <div class="panel">
                        <p>Статус: ${recordStatusEnum[paymAcc.status]}</p>
                        <button onclick="openUserModal(1)">Перевести деньги</button>
                    </div>
                    `
                }
                innerHtml += `
                <h2>Депозтные счета:</h2>
                <hr>
                `
                for (const depositAcc of accounts.deposit) {
                    innerHtml += `
                    <div class="account-item">
                        <p>IBAN: ${depositAcc.iban}</p>
                        <p>имя: ${depositAcc.name}</p>
                        <p>тип: ${depositAcc.accountType.description}</p>
                        <p>баланс: ${depositAcc.balance / 100} ${depositAcc.currency}</p>
                    </div>
                    <div class="panel">
                        <p>Статус: ${recordStatusEnum[depositAcc.status]}</p>
                        ${depositAcc.accountType.code != 3404 ? '<button onclick="openUserModal(1)">Перевести деньги</button>' : ''}
                        <div class="account-item">
                            <p>Номер договора: ${depositAcc.parentObligation.contractNumber}</p>
                            <p>Тип договора: ${obligationTypeEnum[depositAcc.parentObligation.obligationType]}</p>
                            <p>Валюта: ${depositAcc.parentObligation.currency}</p>
                        </div>
                        <div class="panel">
                            <p>Депозитный план: ${depositAcc.parentObligation.obligationPlan.name} ${depositAcc.parentObligation.obligationPlan.planPercent}% ${depositAcc.parentObligation.obligationPlan.currency} до ${depositAcc.parentObligation.obligationPlan.months} месяцев</p>
                            <p>Сумма вклада: ${depositAcc.parentObligation.amount / 100} ${depositAcc.parentObligation.currency}</p>
                        </div>
                    </div>
                    `
                }
                innerHtml += `
                <h2>Кредитные счета:</h2>
                <hr>
                `
                for (const creditAcc of accounts.credit) {
                    innerHtml += `
                    <div class="account-item">
                        <p>IBAN: ${creditAcc.iban}</p>
                        <p>имя: ${creditAcc.name}</p>
                        <p>тип: ${creditAcc.accountType.description}</p>
                        <p>баланс: ${creditAcc.balance / 100} ${creditAcc.currency}</p>
                    </div>
                    <div class="panel">
                        <p>Статус: ${recordStatusEnum[creditAcc.status]}</p>
                        ${creditAcc.accountType.code != 2470 ? '<button onclick="openUserModal(1)">Перевести деньги</button>' : ''}
                        <div class="account-item">
                            <p>Номер договора: ${creditAcc.parentObligation.contractNumber}</p>
                            <p>Тип договора: ${obligationTypeEnum[creditAcc.parentObligation.obligationType]}</p>
                            <p>Валюта: ${creditAcc.parentObligation.currency}</p>
                        </div>
                        <div class="panel">
                            <p>Кредитный план: ${creditAcc.parentObligation.obligationPlan.name} ${creditAcc.parentObligation.obligationPlan.planPercent}% ${creditAcc.parentObligation.obligationPlan.currency} до ${creditAcc.parentObligation.obligationPlan.months} месяцев</p>
                            <p>Сумма кредита: ${creditAcc.parentObligation.amount / 100} ${creditAcc.parentObligation.currency}</p>
                        </div>
                    </div>
                    `
                }
                document.getElementById('Accounts').innerHTML = innerHtml
            }
        }

        async function openUserModal(id) {
            let user = await getUser(id)
            if (user) {
                let modal = document.getElementById('modal')
                let container = document.getElementById('modal-content')
                container.innerHTML = ``
                modal.style.display = 'block'
            } else {
                alert("Произошла ошика при загрузке пользователей")
            }
        }

    </script>

</div>
</body>
</html>