<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body class="main">
<!--/*@thymesVar id="url" type="java.lang.String"*/-->
<!--/*@thymesVar id="account" type="ru.bendricks.piris.model.Account"*/-->
<form method="post" style="margin-top: 100px" th:action="${url}" th:object="${account}" class="register-form register-fix">
    <h2 class="register-form-header">СОЗДАТЬ ПЛАТЁЖНЫЙ СЧЁТ</h2>
<!--    <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.token}">-->
<!--    <input type="hidden" th:field="*{id}">-->
    <input type="hidden" th:field="*{owner.id}">
    <label class="input-label">
        Название счёта
        <input required type="text" class="text-input" th:field="*{name}" >
    </label>
    <p th:if="${#fields.hasErrors('name')}" class="error-text" th:errors="*{name}"></p>
    <label class="input-label">
        Валюта
        <select required th:field="*{currency}">
            <option th:each="currencyOpt : ${T(ru.bendricks.piris.model.Currency).values()}" th:value="${currencyOpt}" th:text="${currencyOpt.toString()}"></option>
        </select>
    </label>
    <p th:if="${#fields.hasErrors('currency')}" class="error-text" th:errors="*{currency}"></p>
    <input type="submit" value="Sign Up"/>
</form>
</body>
</html>